body {
  background-color: #263238;
  color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(38,50,56, 0.9);
}

.table-striped tr:hover {
  color: white;
  cursor: pointer;
}

.alliance { color: #2196f3; }
.horde { color: #f44336; }
.alliance, .horde { font-weight: bold; }

.category, .sub_category, .statistic, .sub_statistic {
  transition: all .5s;
  font-weight: bold;
  background-color: #361409;
  border: 1px solid transparent;
  width: 100%;
}

.category:hover, .sub_category:hover, .statistic:hover, .sub_statistic:hover {
  transition: all .5s;
  border: 1px solid #ffd100;
}

.category {
  color: #ffd100;
  border: 1px solid #ffd100;
  border-radius: .5em;
  margin-top: 8px;
}

.sub_category {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.statistic {
  color: #fb8c00;
  border-bottom: 1px solid rgba(255, 209, 0, 0.5);
}

.selected { border: 1px solid #009688; }
.selected:hover { border: 1px solid #009688; }

.guild { color: #4caf50; }

.achievement_container {
  width: 540px;
  margin: 0px auto;
}

.achievement {
  background-image: url('../img/achievement_structure.png');
  background-repeat: no-repeat;
  width: 540px;
  height: 85px;
  opacity: 0.4;
  transition: all .5s;
}

.achievement_icon {
  margin-left: 11px;
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.achievement_name {
  font-weight: bold;
  padding-top: 3px;
}

.achievement_description {
  font-size: 12px;
  display: block;
  width: 355px;
  margin-left: 50px;
}

.achievement_points {
  font-weight: bold;
  font-size: 15px;
  display: block;
  text-align: center;  
  margin-top: -8px;
  margin-left: 26px;
}

.achievement_icon, .achievement_description, .achievement_points {
  float: left;
}

.achievement_stats_container {
  width: 540px;
  margin: 0px auto;
}

.achievement_stats_container img {
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
}

.achievement_stats {
  background-image: url('../img/achievement_statistic_structure.png');
  background-repeat: no-repeat;
  width: 540px;
  height: 85px;
  opacity: 0.4;
  transition: all .5s;
}

.achievement:hover, .achievement_stats:hover {
  transition: all .5s;
  opacity: 0.8;
}

.noopacity { opacity: 1; }
.noopacity:hover { opacity: 1; }

.progessbar {
  width: 370px;
  margin: 0 auto;
  position: relative;
 }

.progress-bar-wow {
  background-image: linear-gradient(to bottom, #fb8c00 0,#7d5412  70%, #7d5412 100%);
}

.progress {
  background-image: linear-gradient(to bottom, grey 0, rgba(125, 84, 18, 0.5) 100%)
}

.progress i {
  position: absolute;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #fdd835;
}
