body {
  background-color: #263238;
  color: white;
}

.title, .title:hover {
  color: #fff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(38,50,56, 0.9);
}

.table-striped tr:hover {
  color: #ffd100;
  cursor: pointer;
}

td { font-size: 20px; }

.alliance { color: #2196f3; }
.horde { color: #f44336; }
.alliance, .horde { font-weight: bold; }
.guid { color: #00ff00; }

.yellowText { color: #ffd100; }

.category, .sub_category, .statistic, .sub_statistic {
  transition: all .5s;
  font-weight: bold;
  background-color: #361409;
  border: 1px solid transparent;
  width: 100%;
}

.category:hover, .sub_category:hover, .statistic:hover, .sub_statistic:hover {
  transition: all .5s;
  border: 1px solid #ffd100;
}

.category {
  color: #ffd100;
  border: 1px solid #ffd100;
  border-radius: .5em;
  margin-top: 8px;
}

.info_formula, .info_formula:hover {
  color: #00ff00;;
  border: 1px solid #00ff00;;
}

.formula {
  background-color: transparent;
  color: #4caf50;
  font-weight: bold;
  font-size: 15px;
}

.sub_category {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.statistic {
  color: #fb8c00;
  border-bottom: 1px solid rgba(255, 209, 0, 0.5);
}

.selected { border: 1px solid #009688; }
.selected:hover { border: 1px solid #009688; }

.guild { color: #4caf50; }

.guild_link { color: #76ff03; cursor: default; }
.guild_link_active:hover { color: #ffd100; cursor: pointer; }

.guildrank { color: #ffd100; }

.guildSelect, .guildSelect * {
  background-color: #361409 !important;
  color: #ffd100;
  border-color: none;
  border: none;
  background-image: none;
}

.guildSelect div:hover { opacity: 0.6; }

.achievement_container {
  width: 540px;
  margin: 0px auto;
}

.achievement {
  background-image: url('../img/achievement_structure.png');
  background-repeat: no-repeat;
  width: 540px;
  height: 85px;
  opacity: 0.4;
  transition: all .5s;
}

.achievement_icon {
  margin-left: 11px;
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.achievement_name {
  font-weight: bold;
  padding-top: 3px;
}

.achievement_description {
  font-size: 12px;
  display: block;
  width: 355px;
  margin-left: 50px;
}

.achievement_points {
  font-weight: bold;
  font-size: 15px;
  display: block;
  text-align: center;
  margin-top: -8px;
  margin-left: 26px;
}

.achievement_icon, .achievement_description, .achievement_points {
  float: left;
}

.achievement_stats_container {
  width: 540px;
  margin: 0px auto;
}

.achievement_stats_container img {
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
}

.achievement_stats {
  background-image: url('../img/achievement_statistic_structure.png');
  background-repeat: no-repeat;
  width: 540px;
  height: 85px;
  opacity: 0.4;
  transition: all .5s;
}

.achievement:hover, .achievement_stats:hover {
  transition: all .5s;
  opacity: 0.8;
}

.noopacity { opacity: 1; }
.noopacity:hover { opacity: 1; }

.progessbar {
  width: 370px;
  margin: 0 auto;
  position: relative;
}

.progress-bar-wow {
  background-image: linear-gradient(to bottom, #fb8c00 0,#7d5412  70%, #7d5412 100%);
}

.progress {
  background-image: linear-gradient(to bottom, grey 0, rgba(125, 84, 18, 0.5) 100%)
}

.progress i {
  position: absolute;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #fdd835;
}

/* Sidebar */
.sidebar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: -300px;
  transition: 100ms left;
}

.sidebar button, .mobile {
  font-size: 15px;
}

.navigation-toggle {
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;

  background-color: #361409;
  color: #ffd100;
  font-size: 25px;

  position: absolute;
  right: 10px;
  top: 27px;
  padding: 15px;
  margin-left: 35px;
  text-decoration: none;
}

.search {
  height: 35px;
  width: 35px;
  background-color: #361409;
  color: #ffd100;
  font-size: 12px;

  text-decoration: none;
}

.search-input {
  height: 35px;
  width: 105px;
  background-color: #361409;
  color: #ffd100;
  font-size: 12px;

  text-decoration: none;
  border: none;
  padding: 10px;
}

.arrow {
  height: 35px;
  width: 35px;
  background-color: #361409;
  color: #ffd100;
  font-size: 18px;

  text-decoration: none;
  transition: all 1s;
}

.arrow-left {
  border: none;
  border-radius: 1em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.arrow-right {
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
}

.arrow-home {
  font-size: 18px;
}

#inside-menu {
  top: 8px;
  padding: 14px;
}

.show {
  overflow: auto;
  height: 100%;

  left: 0;
  width: 340px;
  padding: 20px;
  background-color: #262626;
  border-radius: 1em;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-items a {
  display: block;
  background-color: #444;
  color: white;
  line-height: 2em;
  text-decoration: none;
  padding: 10px 30px;
  width: 100px;

}

.navigation-items a:hover { background-color: #222; }

.inline { display: inline; }

.nav-tabs {   border-bottom: 1px solid #361409; }

.nav-tabs > li > a,
.nav-tabs > li:hover > a {
  background-color: #361409;
  color: #ffd100;
  transition: all 1s;
}

.nav-tabs > li > a {
  border: 1px solid transparent;
}
.nav-tabs > li:hover > a {
  border-color: #00ff00;
  color: #00ff00;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover  {
  background-color: #361409;
  color: #00ff00;
  border-color: #00ff00;
}

.tab {
  background-color: #361409;
  color: #ffd100;
  font-size: 15px;

  padding: 10px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 1s;
}

.tab:hover, .tab.active, .search:hover, .arrow:hover {
  transition: all 0.5s;
  border-color: #00ff00;
  color: #00ff00;
}
