body {
  background-color: #263238;
  color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(38,50,56, 0.9);
}

.table-striped tr:hover {
  color: white;
  cursor: pointer;
}

.alliance { color: #3f51b5; }
.horde { color: #f44336; }
