<div class="row">
  <div class="col-xs-12">

    <div class="achievement_container">
      <h2 class="text-center">{{ category.Name }}</h2>
      
      <div ng-repeat="achievement in achievements">
        <div class="achievement {{ achievement.class }}">
          <img ng-src="http://wow.zamimg.com/images/wow/icons/large/{{ achievement.icon }}.jpg" class="achievement_icon">
          <div class="text-center">
            <p class="achievement_name">{{ achievement.Name }}</p>
            <span class="achievement_description">{{ achievement.Description }}</span>
            <span class="achievement_points" ng-show="achievement.Points == 0 ? achievement.Points = '&nbsp;0' : achievement.Points">{{ achievement.Points }}</span>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
