<uib-tabset active="0">
  <uib-tab index="0" heading="Current" ng-click="load_ranks(account)">
    <br>
    <div class="btn-group">
      <label class="tab" ng-model="account" ng-change="load_ranks(account)" uib-btn-radio="'0'">Current</label>
      <label class="tab" ng-model="account" ng-change="load_ranks(account)" uib-btn-radio="'1'">Current per Account</label>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-3">
        <div class="btn-group">
          <input type="text" placeholder="Search character..." class="search-input" ng-model="search">
          <a ng-href="#/0/{{ search }}/{{ guild }}">
            <button class="search arrow-right"><span class="glyphicon glyphicon-search"></span></button>
          </a>
        </div>
      </div>

      <div class="col-xs-3">
        <ui-select ng-model="guildId" class="guildSelect" ng-change="getGuildId(guildId, true);">
          <ui-select-match placeholder="Guild...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item.guildid as item in (Guilds | filter: $select.search) track by item.guildid">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="col-xs-6">
        <div class="text-right">
          <a ng-href="#/{{ (from - 50 > 0 ? from-50 : 0) }}/{{ search }}/{{ guild }}"><button class="arrow arrow-left"><span class="glyphicon glyphicon-chevron-left"></span></button></a>
            <h3 class="yellowText inline arrow-home">&nbsp; {{ from + " - " + (from-(-50)) }} &nbsp;</h3>
          <a ng-href="#/{{ 50-(-from) }}/{{ search }}/{{ guild }}"><button class="arrow arrow-right"><span class="glyphicon glyphicon-chevron-right"></span></button></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <div class="text-center">
          <table class="table table-striped table-bordered table-condensed rank">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Character</th>
                <th class="text-center">●</th>
                <th class="text-center">lvl</th>
                <th class="text-center">Guild</th>
                <th class="text-center" ng-show="account == 1">characters</th>
                <th class="text-center">points <img src="img/achievement.gif"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rank in ranks track by $index" class="{{ rank.faction }}" ng-click="showPlayerStats(rank.guid)">
                <td>{{ ($index + 1 - (-from)) }}</td>
                <td>{{ rank.name }}</td>
                <td>
                  <img ng-src="{{ 'img/race/18/' + rank.race + '-' + rank.gender + '.gif' }}">
                  <img ng-src="{{ 'img/class/18/' + rank.class + '.gif' }}">
                </td>
                <td>{{ rank.level }}</td>
                <td class="guild">{{ rank.guildName }}</td>
                <td ng-show="account == 1">{{ rank.sum_pg }}</td>
                <td>{{ account == 0 ? rank.Points : rank.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="1" heading="Lifetime" ng-click="getLifePointsData(fromLifePoints, searchPlayer, gLifePoints, account)">
    <br>
    <label class="tab" ng-model="account" ng-change="getLifePointsData(fromLifePoints, searchPlayer, gLifePoints, account)" uib-btn-radio="'0'">Current</label>
    <label class="tab" ng-model="account" ng-change="getLifePointsData(fromLifePoints, searchPlayer, gLifePoints, account)" uib-btn-radio="'1'">Current per Account</label>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-3">
        <input type="text" placeholder="Search player..." class="search-input" ng-model="searchPlayer">
        <button class="search arrow-right" ng-click="getLifePointsData(0, searchPlayer, gLifePoints)"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div class="col-xs-3">
        <ui-select ng-model="guildId_lifepoints" class="guildSelect" ng-change="getLifePointsGuild(guildId_lifepoints); getLifePointsData(0, searchPlayer, gLifePoints)">
          <ui-select-match placeholder="Guild...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item.guildid as item in (Guilds | filter: $select.search) track by item.guildid">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <button class="arrow arrow-left" ng-click="getLifePointsData((fromLifePoints - 50 > 0 ? fromLifePoints-50 : 0), searchPlayer, gLifePoints)"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <h3 class="yellowText inline arrow-home">&nbsp; {{ fromLifePoints + " - " + (fromLifePoints-(-50)) }} &nbsp;</h3>
          <button class="arrow arrow-right" ng-click="getLifePointsData((50-(-fromLifePoints)), searchPlayer, gLifePoints)"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <div class="text-center">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Character</th>
                <th class="text-center">●</th>
                <th class="text-center">lvl</th>
                <th class="text-center">Guild</th>
                <th class="text-center" ng-show="account == 1">characters</th>
                <th class="text-center">Life Points <img src="img/achievement.gif"></th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players track by $index" class="{{ player.faction }}" ng-click="showPlayerStats(player.guid)">
                    <td>{{ ($index + 1 - (-fromLifePoints)) }}</td>
                    <td>{{ player.name }}</td>
                    <td>
                      <img ng-src="{{ 'img/race/18/' + player.race + '-' + player.gender + '.gif' }}">
                      <img ng-src="{{ 'img/class/18/' + player.class + '.gif' }}">
                    </td>
                    <td>{{ player.level }}</td>
                    <td class="guild">{{ player.guildName }}</td>
                    <td ng-show="account == 1">{{ player.sum_pg }}</td>
                    <td>{{ account == 0 || account == null ? player.lifetime_points : player.total }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="2" heading="Guild" ng-click="guildTab()">
    <br>

    <div class="row">
      <div class="col-xs-6">
        <input type="text" placeholder="Search guild..." class="search-input" ng-model="searchGuild">
        <button class="search arrow-right" ng-click="getGuildData(0, searchGuild)"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <button class="arrow arrow-left" ng-click="getGuildData((fromGuild - 50 > 0 ? fromGuild-50 : 0), searchGuild)"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <h3 class="yellowText inline arrow-home">&nbsp; {{ fromGuild + " - " + (fromGuild-(-50)) }} &nbsp;</h3>
          <button class="arrow arrow-right" ng-click="getGuildData((50-(-fromGuild)), searchGuild)"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <div class="text-center">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Guild</th>
                <th class="text-center">points <img src="img/achievement.gif"></th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guild in guilds track by $index">
                    <td class="guildrank">{{ ($index + 1 - (-fromGuild)) }}</td>
                    <td><a class="guild_link" ng-href="#/0/{{ search }}/{{ guild.guild }}">{{ guild.guildName }}</a></td>
                    <td class="guildrank">{{ guild.Points }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </uib-tab>

</uib-tabset>
