<!-- Mobile -->
<div ng-controller="SidebarController" class="visible-xs">

  <!-- Arrow to open menu -->
  <button class="navigation-toggle" ng-click="toggleState()" ng-bind-html="arrow"></button>

  <div class="sidebar" sidebar-directive="state">
    <h4><a href="#/" class="yellowText">← Back</a></h4>

    <!-- Arrow inside menu -->
    <button class="navigation-toggle" id="inside-menu" ng-click="toggleState()" ng-bind-html="arrow"></button>

    <div ng-repeat="parentCategory in parentCategories track by $index">

      <!-- parentCategory -->
      <button type="button"
              class="category mobile"
              ng-click="showCategory($index, parentCategory.ID)"
              ui-sref=".ach({ catId: currentCategory })"
              id="{{ parentCategory.ID }}">
        <h4>{{ parentCategory.Name }}</h4>
      </button>

      <div uib-collapse="collapseCategory[$index]"
           ng-init="t = ($index == parentCategories.length-1 ? childStatistics : []);
                    class = ($index == parentCategories.length-1 ? 'statistic' : 'sub_category')"
           >

        <!-- childCategory -->
        <div ng-repeat="childCategory in childCategories[$index]" ng-init="tmp = $index">
          <button class="{{ class }}"
                  ng-click="collapseChildCategories(childCategory.ID, class, $index)"
                  ui-sref="{{ (parentCategory.ID != 1 ? '.ach({ catId: currentCategory })' : '.stats({ statsId: currentCategory })') }}"
                  id="{{ childCategory.ID }}">
            <h4>{{ childCategory.Name }}</h4>
          </button>

          <!-- statistic subcategory -->
          <div ng-repeat="statistic in t[$index]" uib-collapse="collapseStatistics[tmp]">
            <button class="sub_category"
                    ng-click="updateCurrentCategory(statistic.ID)"
                    ui-sref=".stats({ statsId: currentCategory })"
                    id="{{ statistic.ID }}">
              <h4>{{ statistic.Name }}</h4>
            </button>
          </div>

        </div>

      </div>

    </div>

    <br>
    <br>

  </div>
</div>

<!-- Desktop & Tablet -->
<div class="row">

  <div class="col-xs-3 hidden-xs">

    <a href="#/" class="yellowText">← Back</a>

    <br>
    <br>

    <div ng-repeat="parentCategory in parentCategories track by $index">

      <!-- parentCategory -->
      <button type="button"
              class="category"
              ng-click="showCategory($index, parentCategory.ID)"
              ui-sref=".ach({ catId: currentCategory })"
              id="{{ parentCategory.ID }}">
        <h4>{{ parentCategory.Name }}</h4>
      </button>

      <div uib-collapse="collapseCategory[$index]"
           ng-init="t = ($index == parentCategories.length-1 ? childStatistics : []);
                    class = ($index == parentCategories.length-1 ? 'statistic' : 'sub_category')"
           >

        <!-- childCategory -->
        <div ng-repeat="childCategory in childCategories[$index]" ng-init="tmp = $index">
          <button class="{{ class }}"
                  ng-click="collapseChildCategories(childCategory.ID, class, $index)"
                  ui-sref="{{ (parentCategory.ID != 1 ? '.ach({ catId: currentCategory })' : '.stats({ statsId: currentCategory })') }}"
                  id="{{ childCategory.ID }}">
            <h4>{{ childCategory.Name }}</h4>
          </button>

          <!-- statistic subcategory -->
          <div ng-repeat="statistic in t[$index]" uib-collapse="collapseStatistics[tmp]">
            <button class="sub_category"
                    ng-click="updateCurrentCategory(statistic.ID)"
                    ui-sref=".stats({ statsId: currentCategory })"
                    id="{{ statistic.ID }}">
              <h4>{{ statistic.Name }}</h4>
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="col-sm-8 col-xs-12">

    <table class="table table-striped player">
      <tbody>
        <tr>
          <td><img ng-src="img/race/64/{{ character.race }}-{{ character.gender }}.png"></td>
          <td><h3>{{ character.name }}</h3></td>
          <td><img ng-src="img/class/64/{{ character.class }}.png"></td>
          <td><h3>{{ character.level }}</h3></td>
          <td><h3 class="guild">{{ character.guildName != null ? "&lt;"+character.guildName+"&gt;" : "" }}</h3></td>
          <td><h3><img src="img/achievement.png" width="45" height="45"> {{ charPoints }}</h3></td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-center yellowText">{{ categoriesArray[currentCategory] }}</h2>

    <br>

    <div ui-view></div>

  </div>
</div>
