<div class="row">
  <div class="col-xs-3">

    <a href="#/">← Back</a>

    <br>
    <br>

    <div ng-repeat="parentCategory in parentCategories track by $index">

      <!-- parentCategory -->
      <button type="button"
              class="category"
              ng-click="showCategory($index, parentCategory.ID)"
              ui-sref=".ach({ catId: currentCategory })"
              id="{{ parentCategory.ID }}">
        <h4>{{ parentCategory.Name }}</h4>
      </button>

      <div uib-collapse="collapseCategory[$index]"
           ng-init="t = ($index == parentCategories.length-1 ? childStatistics : []);
                    class = ($index == parentCategories.length-1 ? 'statistic' : 'sub_category')"
           >

        <!-- childCategory -->
        <div ng-repeat="childCategory in childCategories[$index]" ng-init="tmp = $index">
          <button class="{{ class }}"
                  ng-click="collapseChildCategories(childCategory.ID, class, $index)"
                  ui-sref=".ach({ catId: currentCategory })"
                  id="{{ childCategory.ID }}">
            {{ childCategory.Name }}
          </button>

            <!-- statistic subcategory-->
          <div ng-repeat="statistic in t[$index]" uib-collapse="collapseStatistics[tmp]">
            <button class="sub_category"
                    ng-click="updateCurrentCategory(statistic.ID)"
                    ui-sref=".ach({ catId: currentCategory })"
                    id="{{ statistic.ID }}">
              {{ statistic.Name }}
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="col-xs-8">

    <table class="table table-striped player">
      <tbody>
        <tr>
          <td><img ng-src="img/race/64/{{ character.race }}-{{ character.gender }}.png"></td>
          <td><h2>{{ character.name }}</h2></td>
          <td><img ng-src="img/class/64/{{ character.class }}.png"></td>
          <td><h2>{{ character.level }}</h2></td>
          <td><h2 class="guild">{{ character.guildName != null ? "&lt;"+character.guildName+"&gt;" : "" }}</h2></td>
        </tr>
      </tbody>
    </table>

    <div ui-view></div>

  </div>
</div>
