<div class="row">
  <div class="col-xs-3">

    <a href="#/">← Back</a>

    <br>
    <br>

    <div ng-repeat="parentCategory in parentCategories track by $index">

      <button type="button" class="category"
              ng-click="showCategory($index, parentCategory.ID);"
              ui-sref=".ach({ achId: currentCategory })">
        {{ parentCategory.Name }}
      </button>

      <div uib-collapse="collapseCategory[$index]"
           ng-init="t = ($index == parentCategories.length-1 ? childStatistics : []);
                    class = ($index == parentCategories.length-1 ? 'statistic' : 'sub_category')"
           >

        <div ng-repeat="childCategory in childCategories[$index]" ng-init="tmp = $index">

          <button ng-class="class"
                  ng-click="collapseChildCategories(childCategory.ID, class, $index)"
                  ui-sref=".ach({ achId: currentCategory })"
                  >
            {{ childCategory.Name }}
          </button>

          <div ng-repeat="statistic in t[$index]" uib-collapse="collapseStatistics[tmp]">
            <button class="sub_category"
                    ng-click="updateCurrentCategory(statistic.ID)"
                    ui-sref=".ach({ achId: currentCategory })"
                    >
              {{ statistic.Name }}
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="col-xs-8">

    <div ui-view></div>

  </div>
</div>