<div class="row">
  <div class="col-xs-12">

    <div class="achievement_stats_container">
      
      <div ng-repeat="achievement in achievements">
        <div class="achievement_stats {{ achievement.class }}">
          <div class="text-center">
            <p class="achievement_name">{{ achievement.Name }}</p>
            <h3 ng-show="achievement.Quantity < 2 || achievement.counter == '-'" ng-bind-html="achievement.counter"></h3>

            <uib-progressbar ng-show="achievement.Quantity > 1 && achievement.counter != '-'"
                             class="active progessbar"
                             max="achievement.Quantity"
                             value="achievement.counter"
                             type="wow">
              <i>{{ achievement.counter > achievement.Quantity ? achievement.Quantity : achievement.counter }} / {{ achievement.Quantity }}</i>
            </uib-progressbar>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
